name: Continuous Integration

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        dotnet-version: ["10.x.x"]

    steps:
      - uses: actions/checkout@v6
      - name: Setup dotnet ${{ matrix.dotnet-version }}
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: ${{ matrix.dotnet-version }}
      - name: Display dotnet version
        run: dotnet --version

      - name: Install dependencies
        run: dotnet restore

      - name: build
        run: dotnet build --no-restore

      - name: Unit Tests
        run: dotnet test --no-restore --no-build --collect:"XPlat Code Coverage" --logger trx --results-directory "TestResults-${{ matrix.dotnet-version }}"

      - name: Upload dotnet test results
        uses: actions/upload-artifact@v4
        with:
          name: dotnet-results-${{ matrix.dotnet-version }}
          path: TestResults-${{ matrix.dotnet-version }}
        if: ${{ always() }}
        
      - name: Install dotnet format
        run: dotnet tool install -g dotnet-format

      - name: Run dotnet linter
        run: dotnet format --verify-no-changes
        
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v4
        with:
          files: "TestResults-${{ matrix.dotnet-version }}/**/coverage.cobertura.xml"
          fail_ci_if_error: false
        if: ${{ always() }}
