name: ci

on:
  pull_request:
    branches:
      - master

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        dotnet-version:
          ['10.x.x']

    steps:
      - uses: actions/checkout@v5
      - name: Setup dotnet ${{ matrix.dotnet-version }}
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: ${{ matrix.dotnet-version }}
      - name: Display dotnet version
        run: dotnet --version
      - name: Install dependencies
        run: dotnet restore
      - name: build
        run: dotnet build --no-restore
      - name: Unit tests with code coverage
        run: |
          dotnet test \
            --no-restore \
            --no-build \
            --logger trx \
            --results-directory "TestResults-${{ matrix.dotnet-version }}" \
            /p:CollectCoverage=true \
            /p:CoverletOutput=TestResults-${{ matrix.dotnet-version }}/ \
            /p:CoverletOutputFormat=cobertura
      - name: Upload dotnet test results
        uses: actions/upload-artifact@v4
        with:
          name: dotnet-results-${{ matrix.dotnet-version }}
          path: TestResults-${{ matrix.dotnet-version }}
        # Use always() to always run this step to publish test results when there are test failures
        if: ${{ always() }}
      - name: Generate coverage badge
        run: |
          dotnet tool install -g dotnet-reportgenerator-globaltool
          reportgenerator \
            -reports:TestResults-${{ matrix.dotnet-version }}/coverage.cobertura.xml \
            -targetdir:coveragereport \
            -reporttypes:Badges
